:root {
  --super-light-grey: #fefcf9;
  --light-grey: #e6e6e6;
  --light-green: #e3eb7b; 
  --leaf-green: #96b60b; 
  --beigish: #d8b78e; 
  --rose-pink: #E9C0BA;
  --light-blue: #b7d1e0;
  --tealish: #06bbc4; 
  --steel-blue: #4F6A88;
  --sage-green: #9ec7a5; 
  --dark-green: #015309;
  --red: #d9014c; 
  --dark: #27132e; 
}
body{
    margin:0;
    padding:0;
    font-family: 'Commissioner', sans-serif;
    background-color: var(--super-light-grey);
}
.navlink{
    float:right;
    padding: 0 10px;
}

.navlink:hover{
    cursor: pointer;
}

.auth-form-container{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top: 30px;
  height:100%;
  width:100%;
}
.auth-form-box{
    height:450px;
    width:100%;
    max-width:380px;
    background-color:#2dffbf;
    padding:25px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    opacity:0.7;
    border-radius:2%;
    box-shadow: 3px 3px 6px 5px #ccc;
    position: relative;
}
.auth-form-box input{
    padding:7px;
}
.auth-form-box button{
    padding:7px;
    margin: 30px 0;
}
.auth-form-box button:hover{
    cursor: pointer;
}
.auth-form-box h1{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 26px;
}

.auth-form-redirect{
    position: absolute;
    bottom: 25px;
    right:25px;
    text-align: right;
}

.forgot-password{
    position: absolute;
    bottom: 25px;
    left:25px;
    text-align: left;
}
.item1,.item2 {
  border: 1px solid var(--beigish);
  border-radius: 3px;
}
.item1{
  grid-area: nav;
  padding: 1rem 1.5%;
}
.item2{ grid-area: main; }
.page-header {
  grid-area: header;
  background-color: var(--light-grey);
}
.page-header.paddingTop h1 {
  text-align: center;
  font-weight: bold;
  color: var(--dark)
}
.grid-container{
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'nav main main main main main'
    'nav main main main main main'
    'nav main main main main main';
  grid-gap: 1rem;
  padding: 10px;
  grid-gap: 1rem;
}
.grid-container > div{
  margin-top: 40px 0;
}
.item4{ grid-area: addTransaction; }
.item5{ grid-area: makeTransfer; }
.item6{ grid-area: total; }
.grid-container2{
  display: grid;
  grid-template-areas:
    'addTransaction makeTransfer total total total total';
  padding: 10px;
}

.black{
  color: black;
}
.unmarkedList ul{
  list-style: none;
  padding-inline-start: 10px !important;
}
.utility-links {
  list-style-type: none;
  color: var(--tealish);
  font-weight: bold;
  border-bottom: 1px solid var(--light-grey);
}
.balance {
  text-align: right;
}
.negative-balance{
  color: var(--red);
}
.transactionItems , .transaction div{
  border-top: black solid .5px;
}
.border{
  border: black solid .5px !important;
}
.padding{
  padding: 40px;
}
.table td, .table th {
  padding: .25rem !important;
  overflow:hidden;
}
.paddingTop{
  padding-top: 40px;
}

.budget-header{
    background:var(--light-grey);
    margin:0;
    width:100%;
    display: grid;
    /* grid-template-columns: 160px 170px 260px; */
    grid-template-columns:auto auto;
    align-content: center;
}
.budget-date{
    margin:auto 20px;
}
.budget-date h1{
    font-size: 24px;
}
.budget-header-funds{
    display: grid;
    grid-template-columns: 220px auto;
    padding:0;
    margin:0 !important;
}
.budget-header-available{
    text-align: center;
    background-color: #036346;
    color:#F2F2F7;
    border-radius: 5px;
    font-size:20px;
    margin:auto;
    align-content: center;
    padding:8px;
}
.budget-header-break-down{
    display: grid;
    grid-template-columns: 120px auto;
    padding:5px;
    margin:auto 0;
    font-size: 14px;
}
.align-left{
    text-align: left;
    margin:0;
    padding:2px 8px;
}
.align-right{
    padding:2px 8px;
    text-align: right;
    margin:0;
}
.budget-table input{
    padding: 0 5px;
    margin: 0;
    border: 1px solid #b0b3b5;
    font-size: 14px;
}

.budget-table p {
    font-size: 14px;
    margin: auto;
    padding:2px 15px;
    text-align: left;
}
.budget-table td{
    padding:0 !important;
    margin:0 !important;
}
.budget-table h2{
    font-size: 16px;
    font-weight: bold;
    padding:5px 10px;
    margin:0;
}

.hidden{
    /* display: none; */
    visibility: hidden;
}
.budget-icon:hover{
  cursor:pointer;
}